*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
background-color: #9cb0c3;
}
.container{
width: 100%;
padding: 84% 10%;
text-align: center;
}
.container button{
    padding: 10px 15px;
    border-radius: 5px;
    border: transparent;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Desktop Styles*/

@media only screen and (min-width: 900px){
    body{
        background-color: #9cb0c3;
        }
        .container{
            width: 100%;
            text-align: center;
            padding: 24% 10%;
            }
}